<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_inv_domain_model_clothes.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" id="name" /><br />
<label for="description">
	<f:translate key="tx_inv_domain_model_clothes.description" />
</label><br />
	<f:form.textarea property="description" id="description" cols="40" rows="15" /><br />
<label for="size">
	<f:translate key="tx_inv_domain_model_clothes.size" />
</label><br />
	<f:form.textfield property="size" id="size" /><br />
<label for="season">
	<f:translate key="tx_inv_domain_model_clothes.season" />
</label><br />
	<f:form.textfield property="season" id="season" /><br />
<label for="images">
	<f:translate key="tx_inv_domain_model_clothes.images" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="slug">
	<f:translate key="tx_inv_domain_model_clothes.slug" />
</label><br />
	<f:form.textfield property="slug" id="slug" /><br />
</html>