<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-inv">
	<tr>
		<td><f:translate key="tx_inv_domain_model_item.name" /></td>
		<td>{item.name}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_inv_domain_model_item.slug" /></td>
		<td>{item.slug}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_inv_domain_model_item.image" /></td>
		<td>
				<f:image src="{item.image.originalResource.publicUrl}" width="200"/>
            </td>
	</tr>
	<tr>
		<td><f:translate key="tx_inv_domain_model_item.price" /></td>
		<td>{item.price}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_inv_domain_model_item.description" /></td>
		<td>{item.description}</td>
	</tr>
</table>
</html>
